<h1>Product Data</h1>
<input
  type="text"
  id="search"
  placeholder="Search by Product ID"
  [(ngModel)]="searchQuery"
  (keyup)="searchData()"
/>
<table>
  <tr>
    <th>Product ID</th>
    <th>Weight</th>
    <th>Product Cost</th>
    <th>Product Description</th>
    <th>Product Stock (SKU)</th>
    <th>Order ID</th>
    <th>Update</th>
  </tr>
  <tr *ngFor="let rows of data">
    <td>{{ rows["pid"] }}</td>
    <td>{{ rows["weight"] }} &nbsp; kg</td>
    <td>$ &nbsp;{{ rows["p_cost"] }}</td>
    <td>{{ rows["p_desc"] }}</td>
    <td>{{ rows["p_stock"] }}</td>
    <td>{{ rows["oid"] }}</td>
    <td>
      <button type="button" [routerLink]="['/update', rows['pid']]">
        Update
      </button>
    </td>
  </tr>
</table>
